version: "3.7"

services:

  db:
    image: postgres
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; python3 manage.py collectstatic --no-input; python3 manage.py migrate; python manage.py runserver 0.0.0.0:8000 --noreload'
    volumes:
      - .:/app/
      - static:/app/static
    depends_on:
      - db
    restart: on-failure

  nginx:
    image: nginx:alpine
    command: nginx -g "daemon off;"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static:/var/www/app/static/
    depends_on:
      - app
    ports:
      - '8000:80'

volumes:
  db_data:
  nginx_assets:
  static:
